.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 16px;
    flex: 0.4 1 1;
    gap: 12px;
}

.searchContainer {
    flex: 3 1 0;
    min-width: 200px;
    margin-right: 32px;
    position: relative;
}

.searchContainer>form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.searchContainer>form>input {
    width: 100%;
    background-color: #3B3B3B;
    border: 1px transparent;
    border-radius: 24px;
    height: 45px;
    padding-left: 18px;
    font-size: 0.92em;
    color: black;
    outline: none;
    transition: 0.3s all;
    font-family: sans-serif;
    font-weight: 500;
}

.searchContainer>form>input:hover {
    background-color: white;
}
.searchContainer>form>input:focus {
    background-color: white;
}

.searchContainer>form>button {
    background: transparent;
    cursor: pointer;
    border: 1px transparent;
    transition: 0.3s;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    min-width: 25px;
}

.searchContainer>form>button>img {
    -webkit-user-drag: none;
}

::placeholder {
    color: #ABABAB;
    opacity: 1;
    font-family: sans-serif;
    font-weight: 500;
}

.suggestions {
    position: absolute;
    top: 104%;
    z-index: 7;
    display: flex;
    flex-direction: column;
    width: 96%;
}

.searchContainer button:active {
    transform: scale(0.950);
}

@media screen and (max-width:858px){
    .searchContainer>form>input {
        height: 28px;
    }
}

@media screen and (max-width:455px){
    .searchContainer>form>button>img {
        width: 18px;
    }
    .searchContainer{
        min-width: 0px;
        margin: 0 0px;
    }
}