.notFound {
    background-color: #420612;
    height: 100vh;
    position: relative;
}

.notFound>.randomImage {
    filter: brightness(30%);
    height: 100vh;
    background-size: cover;
    background-position-x: 300px;
    background-repeat: no-repeat;
}

.notFoundContainer{
    position: absolute;
    left: 24%;
    top: 26%;
}

.notFoundContainer>h1{
    font-size: 168px;
    font-weight: 600;
    line-height: 1;
}

.notFoundContainer>span{
    display: block;
    font-weight: 400;
    margin: 50px 0 100px;
}

.notFoundContainer>button{
    background-color: white;
    font-weight: 400;
    width: 304px;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width:1160px){
    .notFound>.randomImage {
        background-position-x: 0px;
    }
}

@media screen and (max-width:858px){
    .notFound>.randomImage {
        background-position-x: -200px;
        filter: brightness(15%);
    }

    .notFoundContainer{
        position: absolute;
        left: 10%;
        top: 26%;
    }

    .notFoundContainer>h1{
        font-size: 100px;
    }

    .notFoundContainer>span{
        margin: 50px 0 50px;
    }

    .notFoundContainer>button{
        width: 250px;
    }
}

@media screen and (max-width:410px){
    .notFound>.randomImage {
        background-image: none !important;
        background-color: crimson;
    }
}